.itemList {
  list-style: none;
  padding: 0;
}

.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.pageItem {
  margin: 0 5px;
}

.previousItem,
.nextItem {
  display: block;
  font-weight: bold;
  color: var(--black);
  padding: 10px 15px;
  border-radius: 100px;
  border: 1px solid var(--black-10);
  text-decoration: none;
  cursor: pointer;
  transition: baground-color var(--transition), color var(--transition);
}

.previousItem:hover,
.nextItem:hover {
  background-color: var(--black);
  color: var(--white);
}

.pageLink {
  display: block;
  text-decoration: none;
  color: var(--black);
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 50px;
  cursor: pointer;
  transition: baground-color var(--transition), color var(--transition);
}

.pageLink:hover {
  background-color: var(--black);
  color: var(--white);
}

.active .pageLink {
  border: 1px solid var(--black);
}

.breakMe {
  cursor: default;
  text-decoration: none;
  color: var(--black);
  pointer-events: none;
  cursor: default;
}

.disabled .pageLink {
  color: #ccc;
  pointer-events: none;
}
