.main_container {
  display: flex;
  flex-direction: column;
  margin: 64px auto;
  width: 343px;
}

.main_container > :nth-child(2) {
  margin: 32px 0 64px;
}

@media screen and (min-width: 768px) {
  .main_container {
    /* gap: 100px; */
    width: 704px;
    margin-bottom: 100px;
  }

  .main_container > :nth-child(2) {
    margin: 40px 0 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main_container {
    width: 1280px;
    margin-top: 80px;
    margin-bottom: 120px;
  }

  .main_container > :nth-child(2) {
    margin-bottom: 120px;
  }
}
