.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 0 16px;
  border-radius: 20px 20px 0 0;
  background-color: var(--black);
  margin: 0 auto;
  max-width: 359px;
  margin-top: 8px;
}

.header_wrap_bgc {
  background-color: inherit;
  margin: 0 auto;
  padding: 16px 0 0 0;
}

.header_wrap .color_white {
  color: var(--white);
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .header_wrap {
    padding: 36px 48px 0 48px;
    max-width: 736px;
    margin-top: 16px;
  }
  .header_wrap_bgc {
    padding: 20px 16px 0 16px;
  }
}

@media screen and (min-width: 1440px) {
  .header_wrap {
    padding: 40px 80px 0 80px;
    max-width: 1400px;
    margin-top: 20px;
  }

  .header_wrap_bgc {
    padding: 20px 60px 0 60px;
  }
}
