.recipe_preparation {
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: -0.36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.instruction {
  color: rgba(5, 5, 5, 0.8);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
}

@media screen and (min-width: 768px) {
  .recipe_preparation {
    font-size: 20px;
  }

  .instruction {
    font-size: 16px;
  }
}
