.input {
  width: 100%;
  padding: 14px;
  border: 1px solid rgba(5, 5, 5, 0.12);
  border-radius: 30px;
}

.input::placeholder {
  color: var(--black-60);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.28px;
}

.container {
  position: relative;
}

.btn {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 14px;
  right: 14px;
}

.hasText {
  border: 1px solid var(--black);
}
