/* AuthToggle.module.css */
.toggleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
  background-color: var(--white);
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.toggleContainer .toggleButton {
  width: 50%;
  height: 100%;
  padding: 10px 16px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: var(--black);
  cursor: pointer;
  z-index: 1;
  transition: color 0.3s;
}

.toggleContainer .signIn {
  background-color: transparent;
}

.toggleContainer .signUp {
  background-color: transparent;
}

.slider {
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #333;
  border-radius: 30px;
  transition: transform 0.3s;
  border: 1px solid var(--light-gray);
}

.signInActive .slider {
  transform: translateX(0);
}

.signUpActive .slider {
  transform: translateX(100%);
}

.signInActive .signIn {
  color: #fff;
}

.signUpActive .signUp {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .toggleContainer {
    width: 208px;
  }
  .toggleContainer .toggleButton {
    padding: 14px 28px;
  }
}
